




 @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');




@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');


body {
	font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
	font-size: 20px;
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	text-align: left;
	background-color: #fff;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: rgb(0, 0, 0);
	min-height: 90vh;
	display: flex;
	flex-direction: column;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: rgb(0, 0, 0);
}



a {
	color: #3273dc; 
	text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a[href$="pdf"]:after { /* href attribute ends with pdf */
  content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/pdficon_small.png);
  padding-left: .3em;
}

nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 5%;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

.dark body {
  background-color: #202023;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}
.dark h1, .dark h2, .dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark strong,
.dark b {
	color: #fff;
}
.dark a {
	color: #eca409;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
	font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
	
}

/*.links {
  display: left;
  justify-content: space-evenly;
  align-items: center;
	font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
	font-size: 22px;
	font-weight: 500;
} */

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 1rem;
}


.name {
  display: left;
  justify-content: space-evenly;
  align-items: center;
	font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
	font-size: 22px;
	font-weight: 500;

}

h1
{
	font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
	font-style: italic;

}


h2,h3,
h4,
h5,
h6{
	font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
}


h1
{
	font-size: 24px;
}

h2
{
	font-size: 22px;

}

h3
{
	font-size: 18px;
}


.profile_pic {
	float:right;
	width:12rem;
	border-radius: 30px;
	margin:0em 0em .7em .7em;
	}

.neemias {
	font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
	font-style: italic;
}

	
