---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header-br.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Section from '../components/Section.astro';
---

<!DOCTYPE html>
<html lang="pt-Br">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="sitemap" href="/sitemap-index.xml" />




	</head>
	<body>
	
		<Header title={SITE_TITLE} />
		<main style="margin: auto 0;">

			
			<p><h1 class="neemias">Neemias Martins</h1><a href="https://www.instagram.com/neemias.math"><img src="/img/neemias.jpg" style="width:120px;" class="profile_pic" alt="Photo Neemias"></a>
			Olá! Sou professor na <a href="/blog/2025-08-04">Universidade Federal de Viçosa</a>. Doutor em matemática pelo <a href="https://www.ime.unicamp.br/">Imecc</a> / Unicamp, meus orientadores foram <a href="https://www.ime.unicamp.br/~regisvarao/">Régis Varão</a> de <a href="https://www.researchgate.net/profile/Pouya-Mehdipour">Pouya Mehdipour</a>. <a href="/resume.pdf" style="font-weight:500">Ver currículo &#8250;</a> </p>

			<p>
				Meus interesses de pesquisa são Sistemas Dinâmicos, Teoria Ergódica e Dinâmica Simbólica. <a href = "/reserach" style="font-weight:500">Ver artigos &#8250;</a> </p>
			<p>	
			<p>
				Neste verão, estou lecionando as disciplinas Medida e Integração, e Matemática Básica. <a href = "/teaching" style="font-weight:500">Ver todos os cursos &#8250;</a> </p>
			<p>
				Ministrarei o minicurso Introdução à Teoria Ergódica no <a href="https://sites.google.com/ufv.br/workshopdeverao2026">XVII Workshop de Verão em Matemática do DMA - UFV.</a> <a href = "/events" style="font-weight:500">Ver eventos recentes &#8250;</a> </p>
			<p></p>

			<p>	Meu e-mail é <a href="mailto:neemias.martins@ufv.br">neemias.martins@ufv.br</a>. Se quiser conversar sobre matemática ou possui alguma pergunta, minha porta está sempre aberta na sala A-302 do DMA/CCE.</p>
		<p style="margin-bottom:1.5cm;">
		<!--<p><h3>Recent Posts</h3></p> -->

		

			
		

		
		</main>
		<Footer />
	</body>
</html>
