---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Section from '../components/Section.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="sitemap" href="/sitemap-index.xml" />




	</head>
	<body>
	
		<Header title={SITE_TITLE} />
		<main style="margin: auto 0;">

			
			<p><h1 class="neemias">👋 Hi! I'm Neemias.</h1><img src="/neemias-martins.png" style="width:120px;" class="profile_pic" alt="Photo Neemias">
				I'm a PhD Candidate in Mathematics at <a href="https://www.ime.unicamp.br/">Imecc</a> / <a href="https://www.unicamp.br">Unicamp</a> under the supervision of <a href="https://www.ime.unicamp.br/~regisvarao/">Régis Varão</a> and <a href="https://www.researchgate.net/profile/Pouya-Mehdipour">Pouya Mehdipour</a>. I'm also a professor at <a href="https://www.puc-campinas.edu.br/">PUC - Campinas</a>. </p>

			<p>
				My research interests are Dynamical Systems, Ergodic Theory and Symbolic Dynamics. </p>
			<p>	
				My resume is available <a href="/resume.pdf">here</a>.
		 My email is <a href="mailto:neemias@ime.unicamp.br">neemias@ime.unicamp.br</a>.</p>


			<nav class="links"><a href="/research/">Research</a> <a href="/teaching/">Teaching</a> <a href="/events/">Events</a> 
		

			
		

		
		</main>
		<Footer />
	</body>
</html>
