---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Section from '../components/Section.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="sitemap" href="/sitemap-index.xml" />




	</head>
	<body>
	
		<Header title={SITE_TITLE} />
		<main style="margin: auto 0;">

			
			<div class="profile">

 			 	<!-- linha de cima: nome + subtítulo + foto -->
  				<div class="profile-top">

    			<div class="profile-title">
     				 <h1 class="neemias">Neemias Martins</h1>
      					<h3 class="subtitle">Mathematics · UFV</h3>
						<a href="https://neemias.org" class="subtitle">neemias.org</a>
   				 </div>

   				 <div class="profile-img">
      				<a href="https://www.instagram.com/neemias.math">
        			<img src="/img/profile.jpg" alt="Photo Neemias" >
     				 </a>
   				 </div>

 				 </div>

				 <div class="profile-bottom">
				 <p>
      Hi! I am a professor at 
      <a href="/blog/2025-08-04">Federal University of Viçosa - UFV</a>. 
      I earned my Ph.D. in Mathematics from 
      <a href="https://www.ime.unicamp.br/">Imecc</a> / Unicamp. 
      I completed both my master’s and bachelor’s degrees in Mathematics at UFV. 
      <a href="/resume.pdf" class="morelink">See resume &#8250;</a>
    </p>

			<p>
				My research interests are Dynamical Systems, Ergodic Theory and Symbolic Dynamics. <a href = "/research" class="morelink">See papers &#8250;</a> </p>
			<p>	
			<p>
				Next semester, I will teach Differential Geometry and Calculus 1. <a href = "/teaching" class="morelink">See all courses &#8250;</a> </p>
			<p>
				 Recently, we held the <a href="https://sites.google.com/ufv.br/internationalmathematicsdaysv/">International Mathematics Days</a> event at UFV. <a href = "/events" class="morelink">See all events &#8250;</a> </p>
			<p></p>

			<p>	My email is <a href="mailto:neemias.martins@ufv.br">neemias.martins@ufv.br</a>. If you want to talk about math or have questions, my door is always open in Room A-302 at DMA/CCE.</p>
			</div>
		</div>
		<p style="margin-bottom:1.5cm;">
		<!--<p><h3>Recent Posts</h3></p> -->
		

		

			
		

		
		</main>
		<Footer />
	</body>
</html>
