---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Section from '../components/Section.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
	
		<Header title={SITE_TITLE} />
		<main style="margin: auto 0;">
			<img src="/photo.png" style="width:100px;height:100px;" class="center">
			<p class="links">Neemias Martins</p>
			<p>
				PhD Student in Mathematics at <a href="https://www.ime.unicamp.br/">Imecc</a>/<a href="https://www.unicamp.br">Unicamp</a>. Research in Dynamical Systems and Ergodic Theory.
			</p>

			<nav class="links"><a href="/research/">Research</a> <a href="/teaching/">Teaching</a> <a href="/about/">About/CV</a><a href="/blog/">Texts</a></nav>
		

			
		

		
		</main>
		<Footer />
	</body>
</html>
