---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
	
		<Header title={SITE_TITLE} />
		<main>
			<img src="/photo.png" style="width:100px;height:100px;" class="center">
			<p>
				PhD Student at <a href="https://www.ime.unicamp.br/">Imecc</a>/<a href="https://www.unicamp.br">Unicamp</a>. Dynamical Systems and Ergodic Theory...
			</p>
			<ul>
				<li><a href="/research/">Research</a> </li>
				<li><a href="/teaching/">Teaching</a> </li>
				<li><a href="/about/">About/CV</a> </li>
				<li><a href="/blog/">Blog</a> </li>
			</ul>
			<p>
				Some links to include:
			</p>
			<ul>
				<li><a href="/about/">ResearchGate</a> </li>
				<li><a href="/about/">Orcid</a> </li>
				<li><a href="/about/">Arxiv</a> </li>
				<li><a href="/about/">Lattes</a> </li>
				<li><a href="/about/">CV EN</a> </li>
			<ul>
		
		</main>
		<Footer />
	</body>
</html>
