---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Section from '../components/Section.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="sitemap" href="/sitemap-index.xml" />

	<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "hrqd9uvc19");
</script>


	</head>
	<body>
	
		<Header title={SITE_TITLE} />
		<main style="margin: auto 0;">

			
			<p><img src="/neemias-martins.png" style="width:120px;" class="profile_pic" alt="Photo Neemias">
				I am a PhD Candidate in Mathematics at <a href="https://www.ime.unicamp.br/">Imecc</a> / <a href="https://www.unicamp.br">Unicamp</a> under the supervision of <a href="https://www.ime.unicamp.br/~regisvarao/">Régis Varão</a> and <a href="https://www.researchgate.net/profile/Pouya-Mehdipour">Pouya Mehdipour</a>. </p>

			<p>
				I am working in Dynamical Systems and Ergodic Theory. My research interests are Chaotic Dynamics, LM-Bernoulli transformations and Ornstein's theory for non-invertible systems.
			</p>

			<nav class="links"><a href="/research/">Research</a> <a href="/teaching/">Teaching</a>  <a href="/cv/">CV/Contact</a>
		

			
		

		
		</main>
		<Footer />
	</body>
</html>
