---
const today = new Date();
---

<footer>
	Made with <a href="https://astro.build/">Astro</a> by <a href="https://twitter.com/neemiasmartins">Neemias</a>.
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
