---
const today = new Date();
---

<footer>
	&copy 2022 Neemias. Made with <a href="https://astro.build/">Astro</a>.
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 12px;
	}
</style>
