---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
import ThemeIcon from './ThemeIcon.astro';
---

<header class="site-header">
	<h2>
		<a href="/">Neemias Martins</a>
	</h2><ThemeIcon />
	
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
