---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
	<h3>
		{SITE_TITLE }
	</h3>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/research">Research</HeaderLink>
		<HeaderLink href="/teaching">Teaching/Disciplinas</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
    <ThemeIcon />
	</nav> 
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
