---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config';
import Section from '../../components/Section.astro';
---

<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="sitemap" href="/sitemap-index.xml" />




	</head>
	<body>
	
		<Header title={SITE_TITLE} />
		<main style="margin: auto 0;">

			
			<p><img src="/neemias-martins.png" style="width:120px;" class="profile_pic" alt="Photo Neemias"><h1 class="neemias">Olá! Eu sou o Neemias.</h1>
				Sou doutorando em matemática pela <a href="https://www.unicamp.br">Unicamp</a> no Instituto <a href="https://www.ime.unicamp.br/">Imecc</a>. Trabalho sob orientação do Prof. <a href="https://www.ime.unicamp.br/~regisvarao/">Régis Varão</a> e da Profª. <a href="https://www.researchgate.net/profile/Pouya-Mehdipour">Pouya Mehdipour</a>. </p>

			<p>Meus interesses de pesquisa são Sistemas Dinâmicos e Teoria Ergódica. Atualmente estou estudando transformações LM-Bernoulli e teoria de Ornstein para sistemas dinâmicos não-invertíveis.
			</p>

			<nav class="links"><a href="/pt-br/pesquisa/">Pesquisa</a> <a href="/pt-br/ensino/">Ensino</a>  <a href="/pt-br/contato/">Contato/CV</a>
		

			
		

		
		</main>
		<Footer />
	</body>
</html>
